@import "tailwindcss";

@theme {
  --default-font-family: "Lato", sans-serif;
  --color-blue-dark: #2e3da3;
  --color-blue-base: #5165e1;
  --color-blue-light: #8996eb;

  --color-gray-100: #151619;
  --color-gray-200: #1e2024;
  --color-gray-300: #535964;
  --color-gray-400: #858b99;
  --color-gray-500: #e3e5e8;
  --color-gray-600: #f9fafa;

  --color-feedback-danger: #d03e3e;
  --color-feedback-open: #cc3d6a;
  --color-feedback-progress: #355ec5;
  --color-feedback-done: #508b26;

  --color-feedback-openBackground: rgba(204, 61, 106, 0.2);
  --color-feedback-progressBackground: rgba(53, 94, 197, 0.2);
  --color-feedback-doneBackground: rgba(80, 139, 38, 0.2);

  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-2xs: 0.625rem;

  --leading-140: 1.4;
}
